/* You can add global styles to this file, and also import other style files */
.input-group-text {
  height: 38px !important;
}
.form-control:focus{
  box-shadow: none !important;
}

.cursor{
  cursor: pointer;
}
